*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blod td{
  font-weight: bold;
  font-size: 25px;
}
.border tr td{
  border: 2px solid black;
  text-align: center;
  padding: 20px;
}
.bold{
  font-weight: bold;
  /* border: 2px solid black; */
  /* font-size: 20px; */
}
.border1 tr td table tr td{
  /* padding: 5px ; */
  text-align: center;
  font-size: 14px;
} 
.border1 tr td{
  border: 2px solid black;
  text-align: center;
  padding: 5px;
}
a{
  margin: 20px;
  width: 100px;
  background-color: black !important;
  color: white !important;
  border: 2px solid black !important;
  padding: 10px !important;
}